<!DOCTYPE html>
<html lang=" pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>meu primeiro site web</title>
    <style>
        body{
            background-color: darkgrey;
            color: azure;
            font: normal 25 pt arial;

        }
        h1 {
            color:deepskyblue
        }
    </style>
</head>
<body>
    <h1> ola mundo</h1>
    <p> ja me livrei da maldição</p>
    <script>
        window.alert('minha priemira messagem!')
        window.alert('esta gostando de js')
        window.prompt('qual seu nome?')
    </script>
</body>
</html>
